# ansible.cfg
# Configuration locale Ansible pour kiwinet-infra-vm
# Ce fichier est lu automatiquement depuis le répertoire du projet

[defaults]
inventory        = inventory.ini
remote_user      = rookain
private_key_file = ~/.ssh/kiwinet
host_key_checking = False

# Sortie lisible sans dépendance externe
stdout_callback = yaml

[privilege_escalation]
become        = true
become_method = sudo
